.list {
	margin-block: 5rem;
}

.list__title {
	text-transform: uppercase;
	font-size: var(--fs-lg);
	font-weight: 300;
	padding-bottom: 1rem;
	border-bottom: var(--border);
}

.item {
	padding-block: 1rem;
	padding-inline: 0.25rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--border);
}

.item__label__container {
	display: flex;
	flex-direction: column;
}

.item .item__label {
	font-weight: 700;
}

.item .item__sublabel {
	color: var(--color-tertiary);
}

.item .item__label,
.item .item__sublabel,
.item .item__value {
	text-transform: capitalize;
	font-size: var(--fs-md);
}
