.reveal-animation {
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: cover 4% entry-crossing 100%;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes reveal-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes svg-animation {
  0% {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotate(360deg);
    transform: rotateZ(360deg);
  }
}
