.reveal-animation {
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: cover 4% entry-crossing 100%;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes reveal-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes svg-animation {
  0% {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotate(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes ani-error-line {
  to {
      stroke-dashoffset: 0;
  }
}

@keyframes ani-error-circle {
  0% {
      stroke-dasharray: 0, 260.75219024795285px;
      stroke-dashoffset: 0;
  }

  35% {
      stroke-dasharray: 120px, 120px;
      stroke-dashoffset: -120px;
  }

  70% {
      stroke-dasharray: 0, 260.75219024795285px;
      stroke-dashoffset: -260.75219024795285px;
  }

  100% {
      stroke-dasharray: 260.75219024795285px, 0;
      stroke-dashoffset: -260.75219024795285px;
  }
}
@keyframes ani-success-circle {
  to {
      stroke-dashoffset: 782.2565707438586px;
  }
}

@keyframes ani-success-path {
  0% {
      stroke-dashoffset: 62px;
  }

  65% {
      stroke-dashoffset: -5px;
  }

  84% {
      stroke-dashoffset: 4px;
  }

  100% {
      stroke-dashoffset: -2px;
  }
}