.skill__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	padding-block: 2rem;
	border-block: var(--border);
}

.skill__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	border-radius: var(--br-sm);
	border: var(--border);
	transition: var(--transition);
	width: 100%;
	min-height: 200px;
	max-width: 200px;
}

.skill__item:hover {
	transform: scale(1.1);
}

.skill__icon {
	width: 5rem;
	filter: var(--filter-primary);
}

.skill__label {
	font-size: var(--fs-md);
	text-transform: capitalize;
	text-align: center;
}

@media screen and (max-width: 540px) {
	.skill__item {
		min-height: 150px;
		max-width: 150px;
	}
	.skill__label {
		font-size: var(--fs-base);
	}
	.skill__icon {
		width: 3rem;
	}
}
