@import '../abstract/mixins';
@import '../variables/transitions';

.about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-top: 6rem;
  margin-bottom: 10rem;
  @include breakpoint(medium) {
    margin-top: 2rem !important;
    margin-bottom: 5rem !important;
  }
  @include breakpoint(large) {
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }
  @include breakpoint(x-large) {
    gap: 2.5rem;
  }
  .about__card {
    position: relative;
    border: $border-2;
    padding: 1rem;
    &-image {
      border: $border-2;
      height: 600px;
      background-image: url("/assets/images/profile.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .svg {
        position: absolute;
        top: -4.5rem;
        right: -4.5rem;
        width: 9rem;
        color: $color-font-primary;
        animation: spin 10s linear infinite;
        @include breakpoint(x-large) {
          top: -2.5rem;
          right: -2.5rem;
          width: 5rem !important;
          height: 5rem !important;
        }
        @include breakpoint(large) {
          top: -2rem;
          right: -2rem;
          width: 4rem !important;
          height: 4rem !important;
        }
        @include breakpoint(medium) {
          top: -0.5rem !important;
          right: -0.5rem !important;
          width: 3rem !important;
          height: 3rem !important;
        }
      }
    }
    &-description {
      @include flex(column, nowrap, center, flex-end, 0.5rem);
      text-wrap: balance;
      padding-top: 1rem;
      p {
        @include font($font-size-md $font-weight-300);
      }
      strong {
        @include font($font-size-md $font-weight-700);
      }
    }
  }
  .about__description {
    @include flex(column, nowrap, space-between, flex-start);
    @include font($font-size-base $font-weight-400);
    line-height: 140%;
    button {
      margin-top: 3rem;
      @include breakpoint(x-large) {
        margin-top: 2rem;
      }
    }
  }
}

.about__info {
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-bottom: $border-1;
  &-title {
    @include font($font-size-lg $font-weight-300);
    border-bottom: $border-1;
    padding-bottom: 1rem;
  }
  &-item {
    @include flex(row, nowrap, space-between);
    width: 100%;
    border-bottom: $border-1;
    padding: 1rem 0;
    strong {
      @include font($font-size-base $font-weight-700);
      text-align: start;
      text-wrap: balance;
    }
    p {
      @include font($font-size-base $font-weight-400);
      text-align: end;
      text-wrap: balance;
      min-width: 35%;
    }
    .dynamic {
      @include font($font-size-base $font-weight-400);
      text-align: start;
      margin-top: 0.5rem;
    }
  }
  &-skill {
    @include flex(row, nowrap, space-between);
    width: 100%;
    padding: 1rem 0;

    strong {
      width: 10%;
      @include font($font-size-base $font-weight-700);
    }
    p {
      width: 10%;
      @include font($font-size-base $font-weight-400);
      text-align: end;
    }
    .skill__bar {
      position: relative;
      width: 70%;
      height: 5px;
      background-color: rgb(97, 97, 97);
      &-fill {
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-font-primary;
      }
    }
  }
}

@include breakpoint(medium) {
  .about__info-skill {
    strong {
      width: 36% !important;
    }
    .skill__bar {
      width: 33% !important;
    }
    p {
      width: 30% !important;
    }
  }
}
@include breakpoint(large) {
  .about__info-skill {
    strong {
      width: 20%;
    }
    .skill__bar {
      width: 60%;
    }
    p {
      width: 20%;
    }
  }
}
