:root {
	--color-primary: #e3f7f7;
	--color-secondary: #0b0a0a;
	--color-tertiary: #9ca5a5;
	--color-error: #ff6464;
	--color-accent-green: #0b0a0a;

	--color-font-primary: #e3f7f7;
	--color-font-secondary: #0b0a0a;

	--color-btn: transparent;
	--color-btn-hover: #e3f7f7;
	--color-btn-active: #b8d1d1;
	--color-link: rgb(51, 129, 255);

	--br-sm: 0.5rem;
	--border: 1px solid var(--color-primary);
	--border-card: 2px solid var(--color-primary);
	--border-input: 2px solid rgba(227, 247, 247, 0.5);
	--border-input-hover: 2px solid var(--color-primary);

	--transition: all 0.3s ease-in-out;

	--fs-sm: clamp(0.8rem, -0.05vi + 0.81rem, 0.75rem);
	--fs-base: clamp(1rem, 0vi + 1rem, 1rem);
	--fs-md: clamp(1.25rem, 0.09vi + 1.23rem, 1.33rem);
	--fs-lg: clamp(1.56rem, 0.23vi + 1.51rem, 1.78rem);
	--fs-xl: clamp(1.95rem, 0.44vi + 1.84rem, 2.37rem);
	--fs-xxl: clamp(2.44rem, 0.75vi + 2.25rem, 3.16rem);
	--fs-xxxl: clamp(3.05rem, 1.22vi + 2.75rem, 4.21rem);
	--fs-title: clamp(3rem, 10vi + 10.17rem, 10rem);

	--filter-primary: invert(95%) sepia(23%) saturate(164%) hue-rotate(106deg) brightness(102%)
		contrast(94%);

	--filter-secondary: invert(2%) sepia(6%) saturate(855%) hue-rotate(314deg) brightness(92%)
		contrast(96%);

	--filter-tertiary: invert(71%) sepia(13%) saturate(129%) hue-rotate(131deg) brightness(90%)
		contrast(87%);
}
