.footer {
	width: 100%;
	padding: 2rem;
	border-top: var(--border);
	p {
		text-align: center;
		font-size: var(--fs-md);
		a {
			color: var(--color-link);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
