@mixin btn-style() {
  @include font($font-size-base $font-weight-700);
  @include flex;
  gap: 1rem;
  background-color: transparent;
  border: $border-1;
  padding: 0.25rem 2rem;
  transition: $transition-main;
  cursor: none;

  &:hover {
    background-color: $color-btn-hover;
    color: $color-font-secondary;
  }

  &:active {
    background-color: $color-btn-active;
    color: $color-font-secondary;
  }
}

.btn {
  @include btn-style();
  min-width: 10rem;
  height: 55px;
  padding: $padding-sm $padding-xl;
}

.btn-link {
  @include font($font-size-base $font-weight-700);
  height: 55px;
  min-width: 10rem;
  text-decoration: none;
  position: relative;
  background-color: $color-btn-link;
  color: $color-primary;
  cursor: none;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    width: 0%;
    height: 0.2rem;
    background-color: $color-primary;
    transform: translateX(-50%);
    transition: $transition-main;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
  }
  div {
    @include flex;
    gap: $gap-md;
    position: relative;
    padding: $padding-md $padding-xl;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-primary;
    }
    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      background: $color-btn-link-hover;
      z-index: -1;
      transition: $transition-main;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%) scale(0);
      border-radius: 50%;
    }
  }

  &:hover {
    div::after {
      transform: translate(50%, -50%) scale(1);
    }
  }

  &:hover::after {
    width: 100%;
  }

  &:active {
    div::after {
      background: $color-btn-link-active;
    }
  }
}

.btn-social {
  @include flex(column, nowrap, space-between, flex-start);
  min-width: 200px;
  width: calc(100% / 2 - 1rem);
  height: 220px;
  border: $border-1;
  padding: $padding-lg;
  text-decoration: none;
  .btn-social__icon, svg, span {
    transition: $transition-main;
  }
  .btn-social__icon {
    @include flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: $border-1;
    margin-bottom: $margin-lg;

    svg {
      fill: $color-primary;
      stroke: $color-primary;
      width: 2rem;
      height: 2rem;
    }
  }
  .btn-social__text {
    @include flex(row, nowrap, flex-start);
    width: 100%;
    img {
      width: 2rem;
      height: 2rem;
    }
    span {
      @include font($font-size-base $font-weight-500);
      align-self: flex-end;
      line-height: 120%;
      margin-left: $margin-sm;
      margin-right: $margin-lg;
    }
  }
  &:hover {
    .btn-social__icon {
      background-color: $color-primary;
      svg {
        filter: invert(1);
      }
    }
    span {
      transform: translateX($margin-lg);
    }
  }
  @media screen and (max-width: 1230px) {
    height: 100%;
    width: calc(100% / 2 - 0.5rem);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
  user-select: none;
}